header {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* выравниваем содержимое слева */
}

header img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

header h1 {
    margin: 0;
}

header p {
    margin-top: 5px; /* добавляем небольшой отступ сверху */
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
}
